:root {
  --background: black;
  --foreground: #ececec;
  --font-family: 'Roboto', sans-serif;
  --border-color: rgba(255, 255, 255, 0.1);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
nav {
  border: 1px solid var(--border-color);
}
